.changeWrapper{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    padding-bottom: 60px;
}
.button{
    height: auto;
    width: 100%;
    float: left;
}