<div class="changeWrapper">
    <form (submit)="changePassword()">
        <label for="password">
            Hasło
            <input id="password" type="password" [(ngModel)]="password" name="password">
        </label>
        <br>
        <label for="confirm-password">
            Potwierdź hasło
            <input id="confirm-password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword">
        </label>
        <br>
        <button class="button btn" type="submit">Zmień hasło</button>
    </form>
</div>